body {
    padding: 0;
    font-family: serif;
    margin: 0 5% 0 5%;
    max-width: 45em;
}

h1, h2 {
    font-size: 1.2em;
}

.footpara:nth-child(2) { display: inline; }
.footpara { display: block; }
.footdef  { margin-bottom: 1em; }

.figure-number { display: none; }

/* It's unlikely that I'll always want figures layed out this way.
This could be pulled out into a separate CSS file and included only on
specific pages. e.g. #+STYLE: <link /> */

div.figure {
    text-align: center;
    font-size: 0.8em;
    float: right;
    width: 35%;
    clear: both;
}

div.figure p {
    margin: 0;
}

div.figure img {
    width: 100%;
}
